.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 12px 20px;
  background: rgba(255, 88, 13, 0.8);
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}