.Post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 22%;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  background: #aaa;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
  margin: 16px 0;
  color: #ccc;
  font-weight: 900;
  font-size: 2rem;
  background: #ffffff;
  border: 1px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 58px;
}